@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");




*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;


    width: 85%;

    margin: 5px auto 0px 120px;

}




header {
    height: 100px;
    display: flex;
    align-items: center;
}

.first-block__container {
    margin-top: 80px;
    position: relative;
}

.first-block__elements-wrapper {
    width: 500px;

    display: flex;
    justify-content: space-between;
}

.first-block__element {
    display: flex;
}

.first-block__p-element {
    padding-left: 10px;
    font-family: 'Roboto';
    font-size: 20px;
}

.first-block__text-wrapper {
    display: flex;
    gap: 140px;

}

.first-block__text {
    margin-top: 20px;
    margin-right: 15px;
}

.first-block__h {
    width: 630px;
    height: 200px;

    font-family: 'Roboto Slab';

    font-weight: bolder;
    font-size: 80px;
    line-height: 1em;
    display: flex;
    align-items: center;

}

.first-block__p {
    width: 415px;
    height: 62px;
    font-weight: 400;

    font-size: 20px;
    line-height: 30px;
    font-family: 'Roboto';
}

.first-block__img-wrapper {
    display: flex;
}

.first-block__img {
    top: 7px;
    left: -8px;
    position: relative;
}

.first-block__ellipse {
    position: absolute;
    z-index: -1;
    bottom: -30px;
    width: 90%;
    left: 30px;
}

.quote-wrapper {
    height: 450px;
    display: flex;
    justify-content: center;

    margin-right: 150px;
    margin-top: -27px;
    align-items: center;

    font-size: 25px;
}

.quote {
    background-color: #1e4681;
    border-radius: 5px;
    width: 485px;
    margin-right: 18px;
    height: 200px;
    padding: 18px;
}

.quote__p-wrapper {
    color: white;
    padding-left: 12px;
}

.quote__p {
    height: 120px;
    font-family: "Roboto Slab", serif;

    font-size: 25px;
    text-align: left;
}

.author {
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 20px;
}


.block2__title {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-size: 55px;
    height: 150px;
}

/* --------------upper-block--------------- */
.block2__title {
    margin-top: 40px;
    margin-bottom: -27px;
}

.block2-upper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -38px;
    margin-left: 2px;
}

.block2-upper__paragraph-wrapper {
    height: 500px;
}

.block2-upper__paragraph {
    font-family: "Roboto", sans-serif;
    max-width: 662px;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 37px;

}

.block2-upper__img-wrapper {
    position: relative;
    top: 20px;
    height: 400px;
    right: 56px;
}

.block2-upper__shadow {
    position: absolute;
    bottom: 50px;
    left: -30px;
    width: 150%;
    z-index: -1;
}

/* ------------lower-block---------------- */

.block2-lower {
    display: flex;
    height: 400px;
}

.block2-lower__left-img {
    position: relative;
    max-width: 232px;
    margin-right: 132px;
    height: 220px;
}

.block2-lower__shadow {
    position: absolute;
    bottom: 0px;
    z-index: -1;
    left: 25px;
}

.block2-lower__paragraph-wrapper {
    display: flex;
    position: relative;
    top: 80px;
    font-family: "Roboto", sans-serif;
    flex-wrap: wrap;
}

.block2-lower__paragraph {
    max-width: 150px;
    margin-right: 95px;
}

.block2-lower__paragraph:last-child {
    margin: 0;
}

.block2-lower__title {
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
}

.block2-lower__text {
    font-size: 18px;
    line-height: 130%;
}


@media screen and (max-width: 1439px) {

    /*
for tablet
*/

    .container {


        margin-left: -50px;


    }

    header {
        height: 75px;
    }

    .logo {
        width: 64.19px;
        height: 40.75px;
    }

    .first-block__text {
        margin-top: 30px;
        margin-right: 15px;

    }

    .first-block__container {
        margin-top: 10px;
    }

    .first-block__elements-wrapper {

        width: 300px;
    }

    .globe {
        width: 12.74px;
        height: 12.16px;
    }

    .clock {
        width: 12.74px;
        height: 12.74px;
    }

    .calendar {
        width: 11.58px;
        height: 12.74px;
    }

    .first-block__element {
        margin-top: 27px;
    }

    .first-block__p-element {
        font-size: 12px;
        width: 75px;
        padding-left: 5px;
    }

    .first-block__ellipse {
        width: 80%;
        left: 24px;
        bottom: -10px;
    }

    .first-block__img-wrapper {
        justify-content: flex-end;
    }

    .first-block__img {
        width: 176px;
        height: 206px;
        left: -36px;
        top: 20px;
        position: relative;
    }

    .first-block__ellipse {
        position: absolute;
        z-index: -1;
        bottom: -30px;
        width: 90%;
        left: -10px;
        top: 195px
    }

    .first-block__h {

        font-size: 46px;
        max-width: 363px;
        height: 115px;
        line-height: 47px;

    }

    .first-block__elements-wrapper {
        margin-bottom: -30px;
    }


    .first-block__p {
        margin-top: 10px;
        font-size: 12px;
        max-width: 264px;
        line-height: 18px;
    }

    .quote-wrapper {

        margin-top: -5px;
        margin-left: 20px;
        height: 280px;
    }

    .quote {
        width: 280px;
        height: 115px;
    }

    .quote__p-wrapper {

        padding: 0;

    }

    .quote__p {
        font-size: 14px;
        height: 65px;
        bottom: -5px;
    }

    .author {
        font-size: 12px;
        height: 26px;
        font-family: 'Roboto';
    }

    .block2__title {
        font-size: 32px;
        height: 80px;
        margin-top: 14px;
        margin-bottom: -9px;
    }

    .block2-upper__paragraph-wrapper {
        height: 300px;
    }

    .block2-upper__paragraph {
        max-width: 383px;
        font-size: 14px;
        margin-bottom: 27px;
        font-family: 'Roboto';
        font-weight: 500;
        line-height: 20px;
        margin-left: -3px;
    }

    .block2-upper__img {
        top: 30px;
        width: 181.86px;
        max-height: 182.44px;
    }

    .block2-upper__shadow {
        bottom: -25px;
        left: -30px;
        width: 135%;
    }

    /* ---------------------------- */

    .block2-lower {
        height: 210px;
    }

    .block2-lower__paragraph-wrapper {
        top: 40px;
    }

    .block2-lower__left-img {
        width: 134.37px;
        height: 117.57px;
        margin-right: 76.5px;
    }

    .block2-lower__shadow {
        position: absolute;
        bottom: -10px;
        left: 15px;
    }

    .block2-lower__paragraph {
        max-width: 86.88px;
        margin-right: 55.2px;
    }

    .block2-lower__paragraph:nth-child(2) {
        max-width: 91px;
    }

    .block2-lower__title {
        font-size: 15px;
    }

    .block2-lower__text {
        font-size: 11px;
    }
}

@media screen and (max-width: 833px) {

    /*
for mobile
*/


    .container {

        margin-top: -4px;
        margin-left: -85px;


    }


    header {
        height: 100px;
    }

    .first-block__container {
        margin-top: -20px;
    }

    .first-block__ellipse {
        left: -50px;
        top: 130px;
        position: absolute;
    }

    .logo {
        width: 52.19px;
        height: 30.75px;
    }

    .first-block__p-element {
        font-size: 10px;

    }

    .first-block__elements-wrapper {
        width: 60%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .first-block__text {
        margin-top: 5px;
    }

    .first-block__element {
        width: 230px;

    }

    .first-block__text-wrapper {

        display: block;

    }

    .first-block__h {
        width: 290px;
        height: 88px;
        font-size: 37px;
        line-height: 38px;
    }

    .first-block__p {
        width: 210px;
        height: 30px;
        font-size: 10px;
        line-height: 12px;
        font-family: 'Roboto';
    }

    .first-block__img-wrapper {
        justify-content: flex-end;
    }

    .first-block__img {
        width: 141.66px;
        height: 165.89px;
        left: -48px;
        top: -2px;
        position: relative;
    }

    .globe {
        width: 10.25px;
        height: 9.79px;
    }

    .clock {
        width: 10.25px;
        height: 10.25px;
    }

    .calendar {
        width: 9.32px;
        height: 10.25px;
    }

    .first-block__p-element {
        font-size: 10px;
        max-width: 75px;
        padding-left: 4px;
    }

    .quote-wrapper {
        justify-content: flex-start;
        height: 190px;
        margin-left: 5px;

    }

    .quote {
        width: 225px;
        height: 95px;


    }

    .quote__p {
        font-size: 11px;
        height: 52px;
    }

    .author {
        font-size: 10px;
        height: 22px;
    }


    .block2__title {
        font-size: 26px;
        height: 60px;
    }

    .block2-upper__paragraph-wrapper {
        height: 250px;
    }

    .block2-upper__paragraph {
        max-width: 308px;
        font-size: 12px;
        margin-bottom: 24px;
    }

    .block2-upper__img-wrapper {
        top: 0px;
        max-width: 170.55px;
        max-height: 160.29px;
        right: -65px;
    }

    .block2-upper__shadow {
        bottom: -30px;
        left: -25px;
        width: 130%;
    }

    /* ---------------------------- */

    .block2-lower__left-img {
        display: none;
    }

    .block2-lower__paragraph-wrapper {
        max-width: 250px;
        height: 100px;
    }

    .block2-lower {
        height: 250px;
    }

    .block2-lower__paragraph {
        max-width: 86.88px;
        margin-right: 33.3px;
        margin-bottom: 34px;
    }

    .block2-lower__title {
        font-size: 12px;
    }

    .block2-lower__text {
        font-size: 10px;
    }

}